@model Portfolio.Models.CodeFirst.Comment
<div class="comments__item">

    @*<div class="comments-item__avatar">
        <img src="assets/img/person_1.jpg" class="img-responsive" alt="..." />
    </div>*@

    <div class="comments-item__body">
        <div class="comments-item__info">
            <div class="comments-item-info__author">@Model.Author.FirstName (@Model.Author.Email)</div>
            <div class="comments-item-info__divider">
                <i class="fa fa-circle"></i>
            </div>
            <div class="comment-item-info__timestamp">@Model.Created</div>
        </div>

        <div class="comments-item__content">
            @Html.Raw(Model.Body)
        </div>

        @if (Request.IsAuthenticated && (User.IsInRole(UserRole.ADMINISTRATOR) || User.IsInRole(UserRole.MODERATOR)))
        {
            <div class="comments-item__actions">
                <a href="@Url.Action(ActionName.EDIT, ControllerName.COMMENTS, new { id = Model.Id })" class="comment-item-actions__reply">
                    Edit
                </a>
            </div>
        }
    </div>
</div> <!-- / .comments__item -->
