<!DOCTYPE html>
<html lang="en" class="html_boxed">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/Theme/Highland_v2.0.0/assets/favicon/favicon-windows.ico">
    <link href="~/JavascriptExercises/prism/prism.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <title>Ryan Fleming</title>

    <!-- CSS Plugins -->
    <link href="~/Theme/Highland_v2.0.0/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- CSS Global -->
    <link href="~/Theme/Highland_v2.0.0/assets/css/styles.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

</head>

<body style="margin-bottom:0px; padding-bottom:0px;">

    <!-- NAVIGATION
    ================================================== -->
    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand application-name" href="@Url.Action(ActionName.INDEX, ControllerName.HOME)">ryanFLEMING</a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar_main">

                <ul class="nav navbar-nav navbar-left">
                    <li><a href="@Url.Action(ActionName.INDEX, ControllerName.HOME)">Home</a></li>
                    <li><a href="@Url.Action(ActionName.ABOUT, ControllerName.HOME)">About</a></li>
                    <li><a href="@Url.Action(ActionName.INDEX, ControllerName.BLOG_POSTS)">Blog</a></li>
                    <li><a href="@Url.Action(ActionName.CONTACT, ControllerName.HOME)">Contact</a></li>
                </ul>
                @Html.Partial(PartialViewName.LOGIN_PARTIAL)
                @if (ControllerName.BLOG_POSTS == ViewContext.RouteData.Values["controller"].ToString())
                {
                    @Html.Partial(PartialViewName.SEARCH)
                    @*<form class="navbar-form navbar-search navbar-right">
                        <div class="form-group">
                            <input name="Query" type="text" class="form-control" placeholder="&#xF002; &nbsp; Search">
                        </div>
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </form>*@
                }

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>
    <!-- CONTENT
    ================================================== -->
    @RenderBody()
    
    <!-- FOOTER
    ================================================== -->
    <footer class="navbar navbar-default navbar-fixed-bottom" style="margin:0px; padding:0px; height:55px; bottom:0px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" style="height:55px; padding-top:20px;">
                    <p>
                        &copy; Ryan Fleming 2016. All rights reserved.
                    </p>
                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </footer>


    <!-- JavaScript
    ================================================== -->
    <!-- JS Global -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/Theme/Highland_v2.0.0/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- JS Plugins -->
    <script src="~/Theme/Highland_v2.0.0/assets/plugins/scrolltopcontrol/scrolltopcontrol.js"></script>

    <!-- JS Custom -->
    <script src="~/Theme/Highland_v2.0.0/assets/js/custom.js"></script>

    <!-- JS Exercises -->
    <script type="text/javascript" src="~/JavascriptExercises/prism/prism.js"></script>
    <script type="text/javascript" src="~/JavascriptExercises/exercises.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>