@model Portfolio.Models.CodeFirst.BlogPost
@using Portfolio.Models.CodeFirst
@{
    ViewBag.Title = ActionName.DETAILS;
}
<div class="container">
    <div class="row blog-item">
        <div class="col-sm-2 text-center">
            <i class="fa fa-clock-o"></i>
            <p class="date"><span>@Model.Created.Day</span> @Model.MonthName</p>
        </div>
        <div class="col-sm-10 blog-content">
            <div class="entry-header">
                <img class="img-responsive" src="@Model.MediaURL" alt="" />
                <h2>@Model.Title</h2>
                <div class="entry-meta">
                    <span><a href="@Url.Action(ActionName.ASSOCIATED_INDEX, ControllerName.COMMENTS, new { postId = Model.Id })"><i class="fa fa-comment"></i> @Model.Comments.Count Comments</a></span>
                </div>
            </div>
            <div class="entry-post">
                <p>@Html.Raw(Model.Body)</p>
            </div>

            <div class="comments-area">
                @*<h3>Comments</h3>*@
                <ul class="media-list">
                    @foreach (var item in Model.Comments)
                    {
                        
                        @Html.Partial(PartialViewName.COMMENT, new Comment() { PostId = Model.Id, Author = item.Author, Created = item.Created, Body = item.Body })
                    }
                </ul>
            </div>
            @if (Request.IsAuthenticated && User.IsInRole(UserRole.ADMINISTRATOR) || User.IsInRole(UserRole.MODERATOR))
            {
                @Html.Partial(PartialViewName.CREATE_COMMENT, new Comment() { PostId = Model.Id })
            }
        </div>
    </div><!--/.blog-item-->
</div>

@if (Request.IsAuthenticated && User.IsInRole(UserRole.ADMINISTRATOR))
{
    <p>
        @Html.ActionLink(ActionName.EDIT, ActionName.EDIT, new { id = Model.Id }) |
        @Html.ActionLink(ActionName.DELETE, ActionName.DELETE, new { id = Model.Id }) |
        @Html.ActionLink("Back to List", ActionName.INDEX)
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", ActionName.INDEX)
    </p>
}