@model PagedList.IPagedList<Portfolio.Models.CodeFirst.BlogPost>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm(ActionName.INDEX, ControllerName.BLOG_POSTS, FormMethod.Post, new { enctype = EncodingType.MULTIPART_FORM_DATA }))
{
    @Html.AntiForgeryToken()
    <div class="container" style="padding-top: 55px;">
        <div class="row">
            @if (Request.IsAuthenticated && User.IsInRole(UserRole.ADMINISTRATOR))
            {
                @Html.ActionLink(ActionName.CREATE, ActionName.CREATE)
            }
            @Html.PagedListPager(Model, page => Url.Action(ActionName.INDEX, new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
        <div class="row">
            <div class="col-md-12">
                @foreach (var item in Model)
                {
                    string commentDisplayText = item.Comments.Count.ToString() + (1 == item.Comments.Count ? " comment" : " comments");

                    <div class="blog__item">

                        <div class="blog__header">
                            <h1 class="blog__title">
                                <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })">
                                    @item.Title
                                </a>
                            </h1>
                            <ul class="blog__info">
                                <li>
                                    <i class="fa fa-user"></i> <a href="#">Admin</a>
                                </li>
                                <li>
                                    <i class="fa fa-calendar"></i> @item.Created.Day @item.MonthName @item.Created.Year
                                </li>
                                <li>
                                    <i class="fa fa-comments-o"></i> @commentDisplayText
                                </li>
                            </ul>
                        </div> <!-- / .blog__header -->

                        <div class="blog__body">
                            <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })">
                                <img src="@item.MediaURL" alt="" class="img-responsive img-article pull-right" style="height:250px;">
                            </a>
                            <p>
                                @item.Slug
                            </p>
                            <p>
                                @Html.Raw(item.Body)
                            </p>
                        </div> <!-- / .blog__body -->
                        <div class="blog__footer" style="height: 60px;">
                            @if (Request.IsAuthenticated && User.IsInRole(UserRole.ADMINISTRATOR))
                            {
                                <span>
                                    @Html.ActionLink(ActionName.EDIT, ActionName.EDIT, new { id = item.Id }) |
                                    @Html.ActionLink(ActionName.DELETE, ActionName.DELETE, new { id = item.Id })
                                </span>
                            }
                        </div>
                    </div> <!-- / .blog__item -->
                }
            </div>
        </div>
    </div>
}