@model IEnumerable<Portfolio.Models.CodeFirst.BlogPost>
@using Portfolio.Temp
@{
    ViewBag.Title = ActionName.INDEX;
}

@using (Html.BeginForm(ActionName.INDEX, ControllerName.BLOG_POSTS, FormMethod.Post, new { enctype = EncodingType.MULTIPART_FORM_DATA }))
{
    @Html.AntiForgeryToken()
    <div class="container form-horizontal">
        <!--
        <div style="height:50px;">
        </div>
        -->
        <div class="form-group" style="padding-top:50px;">
            <input type="text" name="Query" id="Query" />
            <input id="btnQuery" type="submit" value="search" />
            <a href="@Url.Action(ActionName.CREATE, ControllerName.BLOG_POSTS)" style="color:black;">Create New</a>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                string placeholderPath = PlaceholderPath.AssetPath();
                <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="single-blog wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="blog-image">
                                <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })"><img class="img-responsive" src="~/@placeholderPath" alt="" /></a>
                                <div class="post-date">
                                    <p>@Html.DisplayFor(modelItem => item.Created.Day)
                                        <span>@Html.DisplayFor(modelItem => item.MonthName) @Html.DisplayFor(modelItem => item.Created.Year)</span>
                                    </p>
                                </div>
                            </div>
                            <div class="entry-content default-bg">
                                <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })"><h2>@Html.DisplayFor(modelItem => item.Title)</h2></a>
                                <div class="entry-meta">
                                    <span><a href="#"><i class="fa fa-user"></i> Posted By: Admin</a></span>
                                    <span><a href="#"><i class="fa fa-comments"></i> 7</a></span>
                                </div>
                                <p>@Html.Raw(item.Body)</p>
                                <!--
                                <a href="single-blog.html" class="btn btn-primary">Read More</a>
                                <a href="@Url.Action(ActionName.DETAILS, ControllerName.BLOG_POSTS, new { id = item.Id })" class="btn btn-primary">Read More</a>
                                -->
                                @if (Request.IsAuthenticated && User.IsInRole(UserRole.ADMINISTRATOR))
                                {
                                    <span>
                                        @Html.ActionLink(ActionName.EDIT, ActionName.EDIT, new { id = item.Id }) |
                                        @Html.ActionLink(ActionName.DELETE, ActionName.DELETE, new { id = item.Id })
                                    </span>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}
